*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.hero{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
p{
    font-size:20px;
    font-family:1000;
    margin-top:20px;
    font-weight:1000;
}
.box{
    width:90px;
    height:90px;
    border: 1px solid black;
    border-radius: 50%;

}
.hero .container{
    display:flex;
    gap: 40px;
    border: 1px solid black;
    padding:10px;
    border-radius:10px;
    background-color:rgba(23,23,23,0.6);
    box-shadow: 10px 20px 20px;
}

h1, h3{
    font-size:40px;
    font-weight:1000;
    margin-bottom:10px;
}
#box1{
    background-color: #75A47F;
}
#box2{
    background-color: #ACE1AF;
}
#box3{
    background-color: #B0EBB4;
}
#box4{
    background-color: #BFF6C3;
}
#box5{
    background-color: #E0FBE2;
}
